#footer
  .footerWrap
    .footerList
      %h2 About
      - display_menu(@menu_items, :class => "menu")
    .footerList
      %h2 Quick Info
      %ul
        %li 2 Bedroom Chalet
        %li Indoor and Outdoor Pools
        %li North Cornwall
        %li 4 star holiday park
        %li Self Catering, Bude
    .footerList
      %h2 Pricing
      %ul
        %li Lots of Availability
        %li Open 9 months of the year
        %li Flexible and affordable
        %li Personal Service
        %li Beautifully Presented
    .footerList
      %h2 Contact Us
      %ul
        %li
          %a(href='mailto:info@budechalet.com') info@budechalet.com
        %li Tel: 01460 65343
        %li Mobile: 07961322025
        %li Penstowe Holidays
        %li Kilkhampton, Bude
        %li Cornwall, EX23 9QY, UK
    .copyright
      Copyright www.budechalet.com, 2009. All Rights Reserved.
