.gallery
  %ul#mycarousel.jcarousel-skin-atlantica
    / <r:assets:each>
    %li>
      %a(href="<r:assets:url />" rel="gallery[Portfolio]")
        %img (src='<r:assets:url size="homepage" />' width="458" height="284")
